<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to t(:name), "#", id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to t(:home).capitalize, "#" %></li>
            <li><%= link_to t(:help).capitalize, "#" %></li>
            <li><%= link_to t(:login).capitalize, "#" %></li>
          </ul>
        </nav>
      </div>
</header>
